body, html {
  height: 100%;
  margin: 0;
}

p {
	font-family: sans-serif;
}

h1 {
  font-family: sans-serif;
}

h2 {
	font-family: sans-serif;
}

h3 {
	font-family: sans-serif;
}

.header {
	overflow: hidden;
	background-color: #336699;
	padding: 20px 10px;
}

.header a {
	float: left;
	text-align: center;
	padding: 0px;
	text-decoration: none;
	font-size: 18px;
	line-height: 20px;
	border-radius: 4px;
}

.header a.logo {
  font-size: 20px;
  font-weight: bold;
}

.header-right {
	float: right;
}

.bg {
	background-color: #f0f0f0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

* {
	box-sizing: border-box;
}

.column {
	padding: 10px;
	height: auto;
	width: 70%;
	left: 15%;
	position: relative;
	background-color: #f0f0f0;
}